<!DOCTYPE html>
<html lang="en" th:include="professor/template :: modelo" xmlns:th="http://www.thymeleaf.org">
<body>
    <form method="post" th:object="${professor}" action="novo" th:fragment="conteudo">
        <div class="form-group">
            <label for="inputNome">Nome</label>
            <input
                    type="text"
                    class="form-control"
                    id="inputNome"
                    placeholder="Nome"
                    th:field="*{nome}"
            >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>